.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-family: monospace;
}

.normal {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* .normal .body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */
.normal .body, form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.normalProb, .normalZ {
  margin: 10px;
}

.form-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.calcular {
  width: 100%;
}

.header {
  background: tomato;
}

input[type="button"] {
  cursor: pointer;
}

form input {
  height: 20px;
  width: 80px;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 2px;
  text-align: center;
}

form input.result {
  background-color: yellow;
  font-weight: 700;
  cursor: copy;
}

@media all and (max-width: 800px) {
  .normal .body, form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
