* {
  font-size: 12px;
  font-family: monospace;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

/* div#box {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
div#canvas {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div#inverse+table {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div#direta+table {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

#canvas {
  float: left;
}

#inverse {
  float: left;
  padding-right: 20px;
}

#direta {
  float: left;
}

/* input[type="text"] {
  width: 75px;
} */

form input {
  height: 20px;
  width: 80px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 2px;
  text-align: center;
  cursor: pointer;
}

form input.result {
  background-color: yellow;
  font-weight: 700;
}

form button {
  width: 80px;
  height: 20px;
  background: #e02041;
  border: 0;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
}

table {
  border: "0";
}